<h1>Sistema Gerenciador de de Disciplinas, Alunos e Professores</h1>

<p1>
  <%= link_to 'Lista de Alunos', controller: 'alunos' %>
  <%= link_to 'Lista de Professores', controller: 'professors' %>
  <%= link_to 'Lista de Disciplinas', controller: 'disciplinas' %>
</p1>